<!DOCTYPE html>
<head>
  <title>🐕</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='raccon.png') }}" class="icon" />
  <h3>Name my pet in ✨French++✨</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter type of animal (e.g. dog, python)" required />
    <input type="submit" value="Generate 🇫🇷++ pet name!" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  <div class="feedback">What do you think of this name? </div>
  <div class="rate">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
  <!-- <div class="rating">
    <div class="like grow">
      👍
    </div>
    <div class="dislike grow">
      👎
    </div>
  </div> -->
  <div class="feedback-small">Your feedback does not matter to us 💅</div>

  {% endif %}

 
  
</body>


